@import "custom.css";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0 !important;
  box-sizing: border-box !important;
}

h1 {
  font-size: 45px !important;
  letter-spacing: 1px;
}
table thead tr th {
  border-style: none !important;
}

td div.tab-td {
  width: 85px !important;
  display: flex !important;
  justify-content: space-between !important;
}

/* scrolling to top */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 12px 18px;
  border-radius: 50%;
}

/* slick style */
button.slick-arrow {
  background-color: blue !important;
  color: blue !important;
  border-radius: 500px !important;
  padding: 1px 1px 1px 0px;
  align-self: center !important;
  text-align: center !important;
  align-items: center !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #2072ac !important;
}
.text-justify {
  text-align: justify !important;
}

.navbar ul li a {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #111 !important;
}

.nav-link {
  font-weight: 600 !important;
  font-size: 20px !important;
}

.nav-link:hover {
  font-weight: 800 !important;
  color: var(--text-blue) !important;
}

.nav-link.active {
  font-weight: 800 !important;
  color: var(--text-blue) !important;
}

.text-login {
  font-size: var(--text-p);
  color: var(--text-blue) !important;
}

.navbar-text.text-login {
  font-size: var(--text-h3) !important;
}

.btn-darkblue:hover {
  background-color: var(--btn-secondary) !important;
  color: #fff !important;
  font-weight: bold !important;
}

/* mobile version */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }

  .px-25 {
    padding: 0 12px !important;
  }

  /* navbar */
  .navbar-text.text-login {
    text-align: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
    font-size: var(--text-h2) !important;
  }

  /* hero */
  .hero {
    background-image: url("/src/assets/heroMobile.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 105% !important;

    height: 670px !important;
    margin-top: -124px !important;
  }

  .hero-text {
    font-size: var(--text-h1) !important;
    font-weight: 800 !important;
    margin-top: 144px !important;
    line-height: 44px !important;
    margin-bottom: 28px !important;
  }

  .hero span {
    color: var(--footer);
  }
  .hero div {
    padding-top: 100px !important;
  }

  .btn-darkblue {
    background-color: var(--btn-primary) !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: bold !important;
  }

  .btn-outline-darkblue {
    border: 2px solid var(--btn-primary) !important;
    color: var(--text-blue) !important;
    font-size: 16px !important;
    font-weight: bold !important;
  }

  .btn-outline-darkblue:hover {
    background-color: var(--btn-primary) !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: bold !important;
  }

  .btn-green {
    background-color: var(--bg-table) !important;
    color: #121212 !important;
    font-weight: bold !important;
  }

  /* komoditas */

  .komoditas h5 {
    font-size: var(--text-h1);
    font-weight: bold;
  }

  .komoditas .komoditasTitle .komoditasTranslate {
    transform: translateY(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .komoditas img {
    width: 99% !important;
  }

  .komoditas .komoditasTitle {
    position: relative; /* Menentukan posisi relatif untuk menempatkan overlay */
  }

  .komoditas .komoditasTitle::before {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 12px !important;
    left: 0;
    width: 99%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Menggunakan rgba untuk overlay hitam dengan opacity */
    opacity: 0; /* Awalnya opacity 0 */
    transition: opacity 0.5s ease-in-out; /* Transisi untuk efek fadeIn */
  }

  .komoditas .komoditasTitle:hover::before {
    opacity: 1; /* Opacity menjadi 1 saat dihover */
  }

  .komoditasTranslate {
    width: 95% !important;
    height: 30% !important;
    padding: 0 24px !important;
  }

  .komoditas .komoditasTitle:hover .komoditasTranslate {
    opacity: 1;
    transform: translateY(0);
  }

  .komoditas .komoditasTitle h5 {
    font-size: var(--text-h3) !important;
    color: #fff !important;
  }

  .komoditas .komoditasTitle a {
    margin-top: 6px !important;
    background-color: #288ed7 !important;
    padding: 10px 20px !important;
  }

  .komoditas .komoditasTitle p {
    font-size: var(--text-p) !important;
    color: #fff;
  }

  /* artikel */

  .artikel h5 {
    font-size: 35px !important;
    font-weight: bold !important;
  }

  .artikel p {
    font-size: 15px !important;
    color: #2072ac !important;
  }

  .artikel .card {
    height: 100% !important;
  }

  h5.card-title {
    font-size: 20px !important;
  }

  .card-body p {
    font-size: 15px !important;
    color: #6c757d !important;
  }

  .artikel .card a {
    color: #111 !important;
  }

  .card-body p {
    font-size: 15px !important;
    color: #6c757d !important;
  }

  .linkHover {
    visibility: hidden;
  }

  .artikel .card:hover {
    border-radius: 16px;
    outline: 3px solid #288ed7;
    background: #fff;
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.1);
    transition: 2ms ease;
  }

  .heroArtikel .card:hover {
    border-radius: 16px;
    outline: 3px solid #288ed7;
    background: #fff;
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.1);
    transition: 2ms ease;
  }

  .card:hover .linkHover {
    visibility: visible;
  }

  /* data */

  .data {
    margin: 44px 0 !important;
  }

  .data h5 {
    font-size: 35px !important;
    font-weight: bold !important;
  }

  .data p {
    font-size: 15px !important;
    color: #2072ac !important;
    margin-bottom: 32px !important;
  }

  table thead.bg-green {
    background-color: #e7f4a4 !important;
  }

  table {
    width: 768px !important;
  }

  .card-data {
    border-radius: 16px;
    background: #fff;
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.1);
    padding: 24px !important;
  }

  /* ebook */

  .ebook {
    margin: 0 auto !important;
  }

  .ebook .row {
    margin-top: 1px !important;
  }

  .ebook .row .col-6 {
    margin-top: 4px !important;
  }
  .ebook .bg-ebook {
    background-image: url("/assets/ebook.png");
    margin-top: 12px !important;
    /* height: 500px !important; */
    background-size: 99% 100% !important;
    background-repeat: no-repeat;
    height: 344px !important;
    border-radius: 16px !important;
    width: 50%;

    position: relative !important;
  }

  .ebook h5 {
    font-size: var(--text-h1);
    font-weight: bold;
  }

  .ebook p {
    font-size: var(--text-p);
    color: #2072ac;
  }

  .ebook span {
    font-size: 12px !important;
  }

  .ebook .ebookContent:hover {
    border-radius: 16px !important;
    transition: 5ms ease-in-out;
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.1);
    background-color: #111;
    opacity: 1;
  }

  .ebook .ebookTranslate {
    visibility: hidden;
  }

  .ebookContent:hover .ebookTranslate {
    visibility: visible;
    cursor: pointer;
  }

  .ebook a img {
    margin-right: 1px !important;
  }

  /* footer */
  footer {
    background-color: var(--footer);
    color: #fff !important;
  }

  footer p {
    font-size: var(--text-p) !important;
  }

  .heroArtikel {
    background-image: url("/assets/backgroundArtikel.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: 100% !important;
  }

  .heroArtikel h1 {
    font-size: var(--text-h1) !important;
  }

  .heroArtikel p {
    font-size: var(--text-p) !important;
    line-height: 30px !important;
    margin-top: 24px !important;
  }

  .artikelArtikel h3 {
    font-size: var(--text-h1) !important;
    line-height: 30px !important;
    font-weight: bold !important;
  }

  /* ! artikel page*/
  .artikelCardText h5 {
    margin-top: 12px !important;
  }

  /* ! artikelPage */
  .cardArtikel div img {
    width: 100% !important;
  }
}

/* dekstop */
@media only screen and (min-width: 769px) {
  /* navbar style */

  .navbar ul li {
    padding: 0 24px !important;
  }
  .px-25 {
    padding: 0 125px !important;
  }

  /* hero */
  .hero {
    background-image: url("/src/assets/hero.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 99vw !important;
    height: 100vh !important;
    margin-top: -34px !important;
  }

  .hero-text {
    line-height: 72px !important;
    margin-bottom: 32px !important;
    font-size: 54px !important;
    letter-spacing: 1Spx !important;
  }

  .hero span {
    color: var(--footer);
  }
  .hero {
    padding-top: 200px !important;
  }

  .btn-darkblue {
    background-color: var(--btn-primary) !important;
    color: #fff !important;
    font-weight: bold !important;
  }

  .btn-outline-darkblue {
    border: 2px solid var(--btn-primary) !important;
    color: var(--text-blue) !important;
  }

  .btn-outline-darkblue:hover {
    background-color: var(--btn-primary) !important;
    color: #fff !important;
  }

  .btn-green {
    background-color: var(--bg-table) !important;
    color: #121212 !important;
    font-weight: bold !important;
  }

  /* komoditas */

  .komoditas h5 {
    font-size: 35px !important;
    font-weight: bold !important;
  }

  .komoditas .komoditasTitle {
    position: relative; /* Menentukan posisi relatif untuk menempatkan overlay */
  }

  .komoditas .komoditasTitle::before {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 18px !important;
    left: 0;
    width: 88.5%;
    height: 100%;
    margin-left: 10px !important;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Menggunakan rgba untuk overlay hitam dengan opacity */
    opacity: 0; /* Awalnya opacity 0 */
    transition: opacity 0.5s ease-in-out; /* Transisi untuk efek fadeIn */
  }

  .komoditas .komoditasTitle:hover::before {
    opacity: 1; /* Opacity menjadi 1 saat dihover */
  }

  .komoditas img {
    width: 90% !important;
    height: 300px !important;
    padding-left: 10px !important;
  }

  .komoditas .komoditasTitle .komoditasTranslate {
    transform: translateY(100%);

    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .komoditasTranslate {
    width: 100% !important;
    padding: 0 44px !important;
  }

  .komoditas .komoditasTitle:hover .komoditasTranslate {
    opacity: 1;
    transform: translateY(20px);
  }

  .komoditas .komoditasTitle h5 {
    font-size: var(--text-h2) !important;
    color: #fff !important;
  }

  .komoditas .komoditasTitle a {
    margin-top: 36px !important;
    background-color: #288ed7 !important;
    padding: 10px 20px !important;
    margin-right: 44px !important;
  }

  .komoditas .komoditasTitle p {
    font-size: var(--text-h3) !important;
    color: #fff;
  }

  /* artikel */
  .artikel h5 {
    font-size: 35px !important;
    font-weight: bold !important;
  }

  .artikel p {
    font-size: 15px !important;
    color: #2072ac !important;
  }

  .artikel .card {
    height: 100% !important;
  }

  h5.card-title {
    font-size: 20px !important;
  }

  .card-body p {
    font-size: 15px !important;
    color: #6c757d !important;
  }

  .linkHover {
    visibility: hidden;
  }

  .artikel .card:hover {
    border-radius: 16px;
    outline: 3px solid #288ed7;
    background: #fff;
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.1);
    transition: 2ms ease;
  }

  .heroArtikel .card:hover {
    border-radius: 16px;
    outline: 3px solid #288ed7;
    background: #fff;
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.1);
    transition: 2ms ease;
  }

  .card:hover .linkHover {
    visibility: visible;
  }

  /* data n informasi */
  .data h5 {
    font-size: 35px !important;
    font-weight: bold !important;
  }

  .data p {
    font-size: 15px !important;
    color: #2072ac !important;
  }

  table thead.bg-green {
    background-color: #e7f4a4 !important;
  }

  .card-data {
    border-radius: 16px;
    background: #fff;
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.1);
    padding: 24px !important;
  }
  /* ebook */
  .ebook .bg-ebook {
    background-image: url("/assets/ebook.png");
    width: 23%;
    /* height: 500px !important; */
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    height: 344px !important;
    border-radius: 16px !important;
  }

  .ebook h5 {
    font-size: var(--text-h1);
    font-weight: bold;
  }

  .ebook p {
    font-size: var(--text-p);
    color: #2072ac;
  }

  .ebook .ebookTranslate {
    visibility: hidden;
  }

  .ebook .ebookContent:hover {
    border-radius: 20px !important;
    transition: 5ms ease-in-out;
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.1);
    background-color: #111;
    opacity: 1;
  }

  .ebookContent:hover .ebookTranslate {
    visibility: visible;
    cursor: pointer;
  }

  /* footer */
  footer {
    background-color: var(--footer);
    color: #fff !important;
  }

  footer p {
    font-size: 15px !important;
  }

  /* ! Artikel css */
  /* hero css */
  .heroArtikel {
    background-image: url("/assets/backgroundArtikel.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 99vw !important;
    height: 100% !important;
    margin-top: 24px !important;
    margin-bottom: 100px !important ;
  }

  .heroArtikel h1 {
    font-size: var(--text-heading) !important;
  }

  .heroArtikel p {
    font-size: var(--text-h3) !important;
    line-height: 30px !important;
  }

  .artikelArtikel h3 {
    font-size: var(--text-h1) !important;
    line-height: 30px !important;
    font-weight: bold !important;
  }

  /* ! artikel */
  .card {
    border-radius: 10px;
    border: 1px solid #c8ccd0;
    background: #fff;
  }
  .artikelCardText h5 {
    font-size: var(--text-h1);
  }

  .artikelCardText p {
    font-size: var(--text-h3) !important;
    color: #103956;
  }
}
